---
import Sidebar from '../components/Sidebar.astro'
import Main from '../components/Main.astro'
---
<div class="flex flex-nowrap">
	<Sidebar />
	<div class="w-full h-screen">
		<Main>
			<slot />
		</Main>
	</div>
</div>